<a href="https://colab.research.google.com/github/Twinkle-gawri/assignment-1/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **QUESTION 1**

In [ ]:
L=[11,12,13,14]
L.append(50)
print("After Adding 50 to the list ---> ",L)
L.append(60)
print("After Adding 60 to the list ---> ",L)

#for i in range(0, len(L)):
 # if L[i] == 13: ----> error
  #  del L[i]
#print("After Deleting 13 the list ---> ",L)

L.sort()
print("After sorting ---> ",L)

L.sort(reverse=True)
print("After sorting ---> ",L)

if (13 in L) == True:
	print ("13 is Present")
else:
	print ("13 is not Present")
 
#print ("Sum --> ", sum(L)) ----> error 

even=0
odd=0
for i in L:
  if i%2 == 0:
    even = even + i
  else:
   odd = odd + i
print ("Sum of even no. is ---> ",even)
print ("Sum of odd no. is ---> ",odd)

#doubt in prime no. sum

#for i in range(0, len(L)):
 # del L[i] ---> error
#print("After Deleting all elements from the list ---> ",L)

del L

After Adding 50 to the list --->  [11, 12, 13, 14, 50]
After Adding 60 to the list --->  [11, 12, 13, 14, 50, 60]
After sorting --->  [11, 12, 13, 14, 50, 60]
After sorting --->  [60, 50, 14, 13, 12, 11]
13 is Present
Sum of even no. is --->  136
Sum of odd no. is --->  24

# **QUESTION 2**

In [ ]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
D[8]=8.8
print("After Adding 8:8.8 to the Dictionary ---> ",D)

del D[2]
print ("After Deleting (2) ---> ", D)

print ("Is Key 6 Present ---> ", 6 in D)

print ("Num of elements ---> ", len(D))

"""a=0
print ("Values ---> ", list(D.values()))
a = sum ( D.values() )            ----->error
print ("Sum of Values ---> ", a )"""

sum_values = 0
for value in D.values():
    sum_values += value
print("Sum of values --->", sum_values)

D[3] = 7.1
print ("After Updating (3) ---> ", D)

D.clear()
print ("After Clear ---> ", D)

After Adding 8:8.8 to the Dictionary --->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
After Deleting (2) --->  {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
Is Key 6 Present --->  False
Num of elements --->  5
Sum of values ---> 37.4
After Updating (3) --->  {1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}
After Clear --->  {}

# **QUESTION 3**

In [ ]:
S1={10,20,30,40,50,60}
S2={40,50,60,70,80,90}
S1.add(55)
print ("Set After Adding 55 --> ", S1)
S1.add(66)
print ("Set After Adding 66 --> ", S1)

S1.remove(10)
print ("Set After Deleting(10)--> ", S1)
S1.remove(30)
print ("Set After Deleting(30)--> ", S1)

if 40 in S1:
  print("Element 40 is present in the set.")

print ("Union of S1 and S2 --> ", S1.union(S2))

print ("Intersection of S1 and S2 --> ", S1.intersection(S2))

print ("Difference a S1 - S2   --> ", S1-S2)

Set After Adding 55 -->  {50, 20, 55, 40, 10, 60, 30}
Set After Adding 66 -->  {50, 66, 20, 55, 40, 10, 60, 30}
Set After Deleting(10)-->  {50, 66, 20, 55, 40, 60, 30}
Set After Deleting(30)-->  {50, 66, 20, 55, 40, 60}
Element 40 is present in the set.
Union of S1 and S2 -->  {66, 70, 40, 80, 50, 20, 55, 90, 60}
Intersection of S1 and S2 -->  {40, 50, 60}
Difference a S1 - S2   -->  {66, 20, 55}

# **QUESTION 4**

**4(1)**

In [ ]:
import random
import string

def generate_random_string():
    size = random.randint(6, 8)
    letters = string.ascii_letters 
    random_string = ''.join(random.choice(letters) for _ in range(size))
    return random_string

# Generate and print a random string
for i in range(0,10):
  random_string = generate_random_string()
  print("Random string:", random_string)

Random string: yxboafO
Random string: JoaQfLAQ
Random string: SJggpEk
Random string: pKyvJisl
Random string: SKOcHjZD
Random string: fiBxJcS
Random string: LMkAfX
Random string: gvXJSI
Random string: DwcIWrx
Random string: VEJPZNC

**4(2)**

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n // 2) + 1):
        if n % i == 0:
            return False
    return True

for num in range(600, 801):
    if is_prime(num):
        print(num)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

4(3)

In [ ]:
for i in range(100,1001):
  if i % 7 == 0 and i % 9 == 0 :
    print (i)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

# **QUESTION 5**

In [ ]:
import random as r
a = r.sample(range(10,31), 10)
print ("First List is --->", a )
b = r.sample(range(10,31), 10)
print ("Second List is --->", b)
common_elements = set(a) & set(b)
print ("Comman Elements are --->",common_elements)

unique_elements = list(set(a))
print("Unique elements in a---> ", unique_elements)
unique_elements = list(set(b))
print("Unique elements in b---> ", unique_elements)

print ("max --> ", max(a))
print ("min --> ", min(a))

print ("max --> ", max(b))
print ("min --> ", min(b))

#print ("Sum --> ", sum(a)) -------> ERROR
#print ("Sum --> ", sum(b)) # ------->ERROR

First List is ---> [24, 13, 27, 12, 28, 21, 11, 30, 19, 25]
Second List is ---> [13, 27, 19, 23, 26, 20, 24, 11, 14, 25]
Comman Elements are ---> {11, 13, 19, 24, 25, 27}
Unique elements in a--->  [11, 12, 13, 19, 21, 24, 25, 27, 28, 30]
Unique elements in b--->  [11, 13, 14, 19, 20, 23, 24, 25, 26, 27]
max -->  30
min -->  11
max -->  27
min -->  11

# **QUESTION 6**

In [ ]:
import random as r
a = r.sample(range(100,901), 100)
print ("List is --->", a )

odd = 0
even = 0
for i in a:
  if i % 2 == 0:
    print(i," is even")
    even = even + 1
  else:
    print(i," is odd")
    odd = odd + 1
print ("Total even no. are --->",even)
print ("Total odd no. are --->",odd)

print ("Total prime no. are --->")
def is_prime(n):
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

for num in a:
    if is_prime(num):
        print(num)

List is ---> [574, 100, 748, 471, 277, 788, 537, 472, 536, 545, 427, 412, 347, 649, 845, 498, 900, 657, 138, 624, 207, 389, 378, 310, 724, 745, 680, 733, 783, 650, 617, 716, 658, 772, 475, 280, 764, 656, 181, 372, 629, 688, 713, 156, 526, 672, 727, 615, 638, 551, 486, 517, 455, 308, 198, 102, 297, 425, 495, 668, 653, 287, 368, 465, 651, 289, 214, 397, 307, 504, 673, 659, 263, 714, 789, 299, 257, 741, 469, 179, 449, 743, 898, 663, 159, 546, 324, 166, 569, 710, 563, 739, 336, 147, 775, 436, 252, 679, 736, 399]
574  is even
100  is even
748  is even
471  is odd
277  is odd
788  is even
537  is odd
472  is even
536  is even
545  is odd
427  is odd
412  is even
347  is odd
649  is odd
845  is odd
498  is even
900  is even
657  is odd
138  is even
624  is even
207  is odd
389  is odd
378  is even
310  is even
724  is even
745  is odd
680  is even
733  is odd
783  is odd
650  is even
617  is odd
716  is even
658  is even
772  is even
475  is odd
280  is even
764  is even
656  is even
181  is odd
372  is even
629  is odd
688  is even
713  is odd
156  is even
526  is even
672  is even
727  is odd
615  is odd
638  is even
551  is odd
486  is even
517  is odd
455  is odd
308  is even
198  is even
102  is even
297  is odd
425  is odd
495  is odd
668  is even
653  is odd
287  is odd
368  is even
465  is odd
651  is odd
289  is odd
214  is even
397  is odd
307  is odd
504  is even
673  is odd
659  is odd
263  is odd
714  is even
789  is odd
299  is odd
257  is odd
741  is odd
469  is odd
179  is odd
449  is odd
743  is odd
898  is even
663  is odd
159  is odd
546  is even
324  is even
166  is even
569  is odd
710  is even
563  is odd
739  is odd
336  is even
147  is odd
775  is odd
436  is even
252  is even
679  is odd
736  is even
399  is odd
Total even no. are ---> 46
Total odd no. are ---> 54
Total prime no. are --->
277
347
389
733
617
181
727
653
397
307
673
659
263
257
179
449
743
569
563
739

# **QUESTION 7**

In [ ]:
D={1:"one",2:"two",3:"three",4:"four",5:"five"}
for k in D:
	print ( k, " , ", D[k])

1  ,  one
2  ,  two
3  ,  three
4  ,  four
5  ,  five

# **QUESTION 8**

In [ ]:
D={"one","two","three","four","five"}
fp=open('result.txt','w')
for  i in D:
  length = len(i)
  fp.write(f'{i}: {length}\n')
fp.close()

# **QUESTION 9**

In [ ]:
import random
import string

def generate_random_string():
    size = random.randint(10, 15)
    letters = string.ascii_letters 
    random_string = ''.join(random.choice(letters) for _ in range(size))
    return random_string

fp=open('result.txt','w')
for i in range(0,100):
  random_string = generate_random_string()
  fp.write( random_string )

  # File par kuch nhi likha ja rha h

# **QUESTION 10**

In [ ]:
def is_prime(n):
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True


fp = open('prime_numbers.txt', 'w')
    
for num in range(600, 801):
  if is_prime(num):
    fp.write(str(num) + '\n')
# File par kuch nhi likha ja rha h

# **QUESTION 11**

In [ ]:
import time as t

start_time = t.time()
end_time = t.time()
elapsed_time = end_time - start_time

print("Elapsed time:", elapsed_time, "seconds")

Elapsed time: 5.030632019042969e-05 seconds